!!! 5
%html
  %head
  %title SignInWithLinkedin
  %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css"}
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

  %body
    - if flash[:notice]
      %div{:class => "alert-message success"}
        %a.close{:href => "#"} &times;
        %p{:id => "notice"}
          = flash[:notice]
    - if flash[:error]
      %div{:class => "alert-message error"}
        %a.close{:href => "#"} &times;
        %p{:id => "error"}
          = flash[:error]
    .container
      = yield
